main {
    height: 60vh;
    width: 100%;
    background-color: #000;
    background-image: url(/project/images/heroimg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: centre;
    margin-bottom: 300p;
    z-index: 1000;
}

main .main-intro h1 {
    font-size:35px;
    line-height: 45px;
}

main p {
    font-size: 20px;
    line min-height: 20px;
}

main a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #8a2be2;
    font-size: 12px;
    display: block;
    background-color: transparent;
    border: 2px solid;
    border-color: #8a2be2;
    width: fit-content;
    padding: 10px 16px;
}
main a:hover {
    background-color: #ffff;
    color: #000;
}

.main-intro {
    margin-top: 250px;
    margin-left: 60px;
}

.fitfocus {
    font-size: 55px;
    color: #8a2be2;
}
