main {
    height: 70vh;
    width: 100%;    
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(../images/heroimg1.jpg);
    border-bottom: #8a2be2 solid;
}

.main-intro-text {
    width: 100%;
    margin-top: 200px;
    margin-left: 130px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.yourpath {
    position: relative;
    left: -100%;
    animation: slideIn 2s ease forwards;
}

.main-intro-text h1 {
    font-size:35px;
    line-height: -20px;
}

main p {
    font-size: 20px;
    opacity: 40%;
}

main a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #8a2be2;
    font-size: 15px;
    display: block;
    background-color: transparent;
    border: 2px solid;
    border-color: #8a2be2;
    width: fit-content;
    padding: 20px 40px;
    text-transform: uppercase;
}
main a:hover {
    background-color: #ffff;
    color: #000;
    cursor: pointer;
}


.fitfocus {
    font-size: 55px;
    color: #8a2be2;
    animation: textTransition 1s ease-in-out forwards;
}

@keyframes textTransition {
    from {
        font-size: 2.5em;
}
to {
        font-size: 1.5em;
    }
}

@keyframes slideIn {
    from {
        left: -100%;
    }
    to  {
        left: 0%;
    }
}

/* SECTION 1  */

.index-section1 {
    height: 80vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #8a2be2 solid;
}

.index-section1-box {
padding: 0;
margin: 0;
width: 40%;
height: auto;
margin-left: 250px;

}

.index-section1-box h2 {
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 15px
}

.index-section1-box h5 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #8a2be2;
    font-size: 18px;
    margin-bottom: 0px;
}

.index-section1-box p {
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 40%;
    margin-top: 0;
    margin-bottom: 20px;
}


.index-section1-image {
    height: 50vh;
    width: auto;
    max-width:100%
    display: flex;
    justify-content: right;
    margin-right: 150px;
}

.index-section1 a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #8a2be2;
    font-size: 15px;
    display: block;
    background-color: transparent;
    border: 2px solid;
    border-color: #8a2be2;
    width: fit-content;
    padding: 10px 60px;
    text-transform: uppercase;
}

.index-section1 a:hover {
    background-color: #ffff;
    color: #000;
    cursor: pointer;
}

/* SECTION 2  */

.index-section2 {
    height: 80vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: #8a2be2 solid;
}

.index-section2-box {
padding: 0;
margin: 0;
width: 40%;
height: auto;
margin-right: 250px;
}

.index-section2-box h2 {
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 15px
}

.index-section2-box h5 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #8a2be2;
    font-size: 18px;
    margin-bottom: 0px;
}

.index-section2-box p {
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 40%;
    margin-top: 0;
    margin-bottom: 20px;
}


.index-section2-image {
    height: 50vh;
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: left;
    margin-left: 150px;

}

.index-section2 a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #8a2be2;
    font-size: 15px;
    display: block;
    background-color: transparent;
    border: 2px solid;
    border-color: #8a2be2;
    width: fit-content;
    padding: 10px 60px;
    text-transform: uppercase;
}

.index-section2 a:hover {
    background-color: #ffff;
    color: #000;
    cursor: pointer;
}

/* SECTION 3  */

.index-section3 {
    height: 70vh;
    width: 100%;    
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(../images/section3image.jpg);
    border-bottom: #8a2be2 solid;
}

.index-section3-text {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-section3-text h1 {
    font-size: 60px;
    color: #8a2be2;
    text-shadow: 2px 2px #ffffff;

}

.index-section3-text button {
    font-size: 20px;
    padding: 15px 50px;
}

/* SECTION 4  */

.index-section4 {
padding: 90px;
background-color: #000000;
display: flex;
flex-direction: column;
border-bottom: #8a2be2 solid;
}

.index-section4 h2 {
    background-color: #8a2be2;
    width: 100%;
    font-size: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-section4-box1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.image-box {
    flex: 0 200 calc(33.33% - 10px); 
    overflow: hidden;
    padding: 70px;
}



.image-box img {
    width: 100%;
    height: 100%;
}
