body{
    background-color: black;
}
a {
    cursor: pointer;
}
.header-main {
    justify-content: flex-end;
    align-items: center;
    background-color: transparent; 
    display: flex;
    padding: 0px 0px;
}
.header-main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 50px;
}
.header-main-logo img{
height: 160px;
}
.header-main-nav {
    margin-right: 100px;
}
.header-main-nav ul {
    list-style: none;
}
.header-main-nav ul li {
    display:inline;
    justify-content: flex-end;
    margin-right: 60px;
}
.header-main-nav ul a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color: #ffffff;
    padding:  9px 25px;
    background-color: #8a2be2;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: #5c159d;
}
.header-main-nav ul a:hover {
    color: #8a2be2;
}
